:root {
  --border-color: #eee;
}

.rtl,
.persian {
  direction: rtl;
  font-family: none;
}

.callout {
  font-size: 32pt;
  position: relative;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  border-top: 1px var(--border-color) solid;
  border-bottom: 1px var(--border-color) solid;
}

.footnote::before {
  content: '[' attr(data-label) ']';
  display: inline-block;
}
